

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: #000;
	overflow: hidden;
}

.main {
	position: relative;
	min-width: 750px;
	height: 750px;
	margin: -150px;
	transform-origin: right;
	animation: colorChange 5s linear infinite;
	/* z-index: -1; */
}

.main:nth-child(even) {
	transform-origin: left;
}

@keyframes colorChange {
	0% {
		filter: hue-rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
		transform: rotate(360deg);
	}
}

.main span {
	position: absolute;
	top: calc(80px * var(--i));
	left: calc(80px * var(--i));
	bottom: calc(80px * var(--i));
	right: calc(80px * var(--i));
}

.main span::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -8px;
	width: 15px;
	height: 15px;
	background: #f00;
	border-radius: 50%;
}

.main span:nth-child(3n + 1)::before {
	background: rgba(134, 255, 0, 1);
	box-shadow: 0 0 20px rgba(134, 255, 0, 1),
							0 0 40px rgba(134, 255, 0, 1),
							0 0 60px rgba(134, 255, 0, 1),
							0 0 80px rgba(134, 255, 0, 1),
							0 0 0 8px rgba(134, 255, 0, .1);
}

.main span:nth-child(3n + 2)::before {
	background: rgba(255, 214, 0, 1);
	box-shadow: 0 0 20px rgba(255, 214, 0, 1),
							0 0 40px rgba(255, 214, 0, 1),
							0 0 60px rgba(255, 214, 0, 1),
							0 0 80px rgba(255, 214, 0, 1),
							0 0 0 8px rgba(255, 214, 0, .1);
}

.main span:nth-child(3n + 3)::before {
	background: rgba(0, 226, 255, 1);
	box-shadow: 0 0 20px rgba(0, 226, 255, 1),
							0 0 40px rgba(0, 226, 255, 1),
							0 0 60px rgba(0, 226, 255, 1),
							0 0 80px rgba(0, 226, 255, 1),
							0 0 0 8px rgba(0, 226, 255, .1);
}

.main span:nth-child(3n + 1) {
	animation: animate 10s alternate infinite;
}

.main span:nth-child(3n + 2) {
	animation: animate-reverse 3s alternate infinite;
}

.main span:nth-child(3n + 3) {
	animation: animate 8s alternate infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-reverse {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 1200px;
	transform-style: preserve-3d;
}

.container .box {
	position: relative;
	width: 300px;
	height: 400px;
	margin: 40px;
	background: #232323;
	border-radius: 20px;
	transform-style: preserve-3d;
}

.container .box::before {
	content: "Rick";
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 6em;
	font-weight: 800;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}

.container .box::after {
	content: "Morty";
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 6em;
	font-weight: 600;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
	opacity: 0.04;
}

.container .box .name {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0,0,75px);
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}

.container .box:hover .name {
	top: 40px;
	opacity: 1;
}

.container .box .buy {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform-style: preserve-3d;
	transform: translate3d(-50%,0,75px);
	color: #fff;
	background: #333;
	padding: 10px 25px;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}

.container .box:hover .buy {
	bottom: 30px;
	opacity: 1;
}

.container .box .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: 0.5s;
	background: #fff;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px);
	z-index: 10;
	opacity: 1;
}

.container .box .product {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 300px;
	transition: 0.5s;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,0px) rotate(-15deg);
}

.container .box:hover .product {
	transform: translate3d(-50%,-50%,100px) rotate(-15deg);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy {
	background: #379bf7;
}

.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy {
	background: #9bdc28;
}

.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy {
	background: #fb4b4f;
}